
<div class="container">
  <div class="stat-info">
    <div class="base-stat">
      <app-incrementer
        [fontSize]="25"
        [numberValueTotal]="baseCharacterInfo.tier"
        [numberValueCurrent]="baseCharacterInfo.tier"
        [disableEdit]="true"
      ></app-incrementer>
      <div class="area-title">Tier</div>
    </div>
    <div class="base-stat">
      <app-incrementer
        [fontSize]="25"
        [numberValueTotal]="baseCharacterInfo.stats.armor"
        [numberValueCurrent]="baseCharacterInfo.stats.armor"
        [disableEdit]="true"
      ></app-incrementer>
      <div class="area-title">Armor</div>
    </div>
    <div class="base-stat" *ngIf="!isCypher">
      <app-incrementer
        [fontSize]="25"
        [numberValueTotal]="baseCharacterInfo.stats.movement"
        [numberValueCurrent]="baseCharacterInfo.stats.movement"
        [disableEdit]="true"
      ></app-incrementer>
      <div class="area-title">Movement</div>
    </div>
  </div>
  <div class="stat-info">
    <div class="base-stat" *ngIf="!isCypher">
      <app-incrementer
        [fontSize]="25"
        [numberValueTotal]="baseCharacterInfo.stats.exhaustion"
        [numberValueCurrent]="baseCharacterInfo.stats.exhaustion"
        [showIncrementers]="true"
        element="exhaustion"
        (incrementerChange)="onStatChange($event)"
      ></app-incrementer>
      <div class="area-title">Exhaustion</div>
    </div>
    <div class="base-stat">
      <app-incrementer
        [fontSize]="25"
        [numberValueTotal]="baseCharacterInfo.stats.effort"
        [numberValueCurrent]="baseCharacterInfo.stats.effort"
        [showIncrementers]="true"
        element="effortCurrent"
        (incrementerChange)="onStatChange($event)"
      ></app-incrementer>
      <div class="area-title">Effort</div>
    </div>
    <div class="base-stat">
      <app-incrementer
        [fontSize]="25"
        [numberValueTotal]="baseCharacterInfo.xp"
        [numberValueCurrent]="baseCharacterInfo.xp"
        [showIncrementers]="true"
        element="xp"
        (incrementerChange)="onInfoChange($event)"
      ></app-incrementer>
      <div class="area-title">XP</div>
    </div>
  </div>

  <div class="pool-info" *ngIf="!isAltSheet">
    <div class="pool-area">
      <app-pool-stat
        poolName="MIGHT"
        [poolTotal]="baseCharacterInfo.stats.might"
        [poolCurrent]="baseCharacterInfo.stats.mightCurrent"
        [poolEdgeTotal]="baseCharacterInfo.stats.mightEdge"
        [poolEdgeCurrent]="baseCharacterInfo.stats.mightEdgeCurrent"
        element="might"
        (statChange)="onStatChange($event)"
      ></app-pool-stat>
    </div>
    <div class="pool-area">
      <app-pool-stat
        poolName="SPEED"
        [poolTotal]="baseCharacterInfo.stats.speed"
        [poolCurrent]="baseCharacterInfo.stats.speedCurrent"
        [poolEdgeTotal]="baseCharacterInfo.stats.speedEdge"
        [poolEdgeCurrent]="baseCharacterInfo.stats.speedEdgeCurrent"
        element="speed"
        (statChange)="onStatChange($event)"
      ></app-pool-stat>
    </div>
    <div class="pool-area">
      <app-pool-stat
        poolName="INTELLECT"
        [poolTotal]="baseCharacterInfo.stats.intellect"
        [poolCurrent]="baseCharacterInfo.stats.intellectCurrent"
        [poolEdgeTotal]="baseCharacterInfo.stats.intellectEdge"
        [poolEdgeCurrent]="baseCharacterInfo.stats.intellectEdgeCurrent"
        element="intellect"
        (statChange)="onStatChange($event)"
      ></app-pool-stat>
    </div>
    <div class="pool-area" *ngIf="!isCypher">
      <app-pool-stat
        poolName="CHARM"
        [poolTotal]="baseCharacterInfo.stats.charm"
        [poolCurrent]="baseCharacterInfo.stats.charmCurrent"
        [poolEdgeTotal]="baseCharacterInfo.stats.charmEdge"
        [poolEdgeCurrent]="baseCharacterInfo.stats.charmEdgeCurrent"
        element="charm"
        (statChange)="onStatChange($event)"
      ></app-pool-stat>
    </div>
  </div>

  <div class="pool-info" *ngIf="isAltSheet">
    <div class="pool-area">
      <app-alt-pool-stats
        poolName="HP"
        [poolTotal]="baseCharacterInfo.stats.hp"
        [poolCurrent]="baseCharacterInfo.stats.hpCurrent"
        poolLeftEdgeName="might"
        [poolLeftEdgeTotal]="baseCharacterInfo.stats.mightEdge"
        [poolLeftEdgeCurrent]="baseCharacterInfo.stats.mightEdgeCurrent"
        poolRightEdgeName="speed"
        [poolRightEdgeTotal]="baseCharacterInfo.stats.speedEdge"
        [poolRightEdgeCurrent]="baseCharacterInfo.stats.speedEdgeCurrent"
        element="hp"
        (statChange)="onStatChange($event)"
      ></app-alt-pool-stats>
    </div>
    <div class="pool-area">
      <app-alt-pool-stats
        poolName="AP"
        [poolTotal]="baseCharacterInfo.stats.ap"
        [poolCurrent]="baseCharacterInfo.stats.apCurrent"
        poolLeftEdgeName="intellect"
        [poolLeftEdgeTotal]="baseCharacterInfo.stats.intellectEdge"
        [poolLeftEdgeCurrent]="baseCharacterInfo.stats.intellectEdgeCurrent"
        poolRightEdgeName="charm"
        [poolRightEdgeTotal]="baseCharacterInfo.stats.charmEdge"
        [poolRightEdgeCurrent]="baseCharacterInfo.stats.charmEdgeCurrent"
        element="ap"
        (statChange)="onStatChange($event)"
      ></app-alt-pool-stats>
    </div>
  </div>

  <div class="stat-info">
    <div class="damage-track">
      <app-checkbox
        [defaultValue]="baseCharacterInfo.stats.damageTrack.impaired"
        checkedStyle="X"
        title="Impaired"
        element="impaired"
        (checkboxChange)="onDamageTrackChange($event)"
      ></app-checkbox>
      <app-checkbox
        [defaultValue]="baseCharacterInfo.stats.damageTrack.debilitated"
        checkedStyle="X"
        title="Debilitated"
        element="debilitated"
        (checkboxChange)="onDamageTrackChange($event)"
      ></app-checkbox>
      <app-checkbox *ngIf="!isCypher"
        [defaultValue]="baseCharacterInfo.stats.damageTrack.unconscious"
        checkedStyle="X"
        title="Unconscious"
        element="unconscious"
        (checkboxChange)="onDamageTrackChange($event)"
      ></app-checkbox>
    </div>
    <div class="base-stat" *ngIf="!isCypher">
      <app-incrementer
        [fontSize]="25"
        [numberValueTotal]="baseCharacterInfo.tier * 2"
        [numberValueCurrent]="baseCharacterInfo.stats.breathers"
        [showIncrementers]="true"
        element="breathers"
        (incrementerChange)="onStatChange($event)"
      ></app-incrementer>
      <div class="area-title">Breathers</div>
    </div>
  </div>
</div>