.container {
  width: 100%;
  margin: 0 5px 0 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.pool-area {
  position: relative;
  width: 200px;
  height: 110px;
  margin: 10px 10px 10px 10px;
}