.container {
  width: 100%;
  margin: 0 5px 0 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.base-stat {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  min-width: 140px;

  border: 1px solid;
  border-color: var(--borderColor);
  background-color: var(--bgColor);
  color: var(--textColor);
}

.damage-track {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.stat-info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 5px 0 5px 0;
}

.pool-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.recovery-rolls-section {
  width: 100%;
}

.recovery-rolls {
  font-size: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.recovery-rolls-header {
  display: flex;
  justify-content: center;
  padding: 16px 16px 0;
}

.recovery {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.mat-mdc-card {
  background-color: var(--bgColorCard);
  color: var(--textColor);
}