.options-layout {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    justify-content: flex-start;
    margin: 15px;
}

.save-button {
    margin: 5px 15px;
}

.indent {
    margin-left: 15px;
}