.add-button {
  margin: 5px 0;
}

.mat-mdc-row, .mat-mdc-header-row {
  color: var(--tableTextColor) !important;
}

.mat-mdc-row:nth-child(odd) {
  background-color: var(--tableOddRowColor);
}

.mat-mdc-row:nth-child(even), .mat-mdc-header-row {
  background-color: var(--tableEvenRowColor);
}

.tiers-table,
.stats-table,
.edge-table {
    width: 100%;
}

.mat-column-tier,
.mat-column-stats,
.mat-column-edge,
.mat-column-effort,
.mat-column-train,
.mat-column-other,
.mat-column-statsTier,
.mat-column-pointsToMight,
.mat-column-pointsToSpeed,
.mat-column-pointsToIntellect,
.mat-column-pointsToCharm,
.mat-column-edgeTier,
.mat-column-pointsToMightEdge,
.mat-column-pointsToSpeedEdge,
.mat-column-pointsToIntellectEdge,
.mat-column-pointsToCharmEdge {
    text-align: center;
}

.mat-column-editAdvancements,
.mat-column-editPoints,
.mat-column-editEdge {
    text-align: center;
    width: 20px;
}