.add-button {
  margin: 5px 0;
}

.abilities-table {
    width: 100%;
}

.mat-column-source {
    width: 250px;
}

.mat-column-cost {
    width: 100px;
}

.mat-column-menu {
  width: 20px;
}

.mat-column-expand {
  width: 20px;
}

.mat-mdc-row, .mat-mdc-header-row {
  color: var(--tableTextColor) !important;
}

.mat-mdc-row:nth-child(4n-3), .mat-mdc-row:nth-child(4n-2) {
    background-color: var(--tableOddRowColor);
}

.mat-mdc-row:nth-child(4n-1), .mat-mdc-row:nth-child(4n), .mat-mdc-header-row {
    background-color: var(--tableEvenRowColor);
}

tr.detail-row {
  height: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
}

.element-description {
  padding: 16px;
}

.element-row td {
  border-bottom-width: 0;
}

.scrollable {
  overflow-y: auto;
  max-height: 575px;
}

.mat-mdc-form-field {
  margin-top: 10px;
  font-size: 14px;
  width: 100%;
}