.add-button {
  margin: 5px 0;
}

.abilities-table {
    width: 100%;
}

.mat-column-name {
    width: 100px;
}

.mat-column-cost {
    width: 100px;
    text-align: center;
}

.mat-column-menu {
  width: 20px;
  text-align: center;
}
        
.mat-mdc-row:nth-child(odd){
    background-color: lightblue;
}