.counters {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.counter {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.counter-title {
  font-size: x-large;
}

.counter-count {
  border: 1px black solid;
  border-radius: 30px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.count {
  font-size: 30px;
}