<div class="money">
  <span class="money-amount" *ngFor="let money of equipmentData.money">
    {{money.name}} <app-incrementer
        [numberValueTotal]="money.amount"
        [numberValueCurrent]="money.amount"
        [fontSize]="15"
        [element]="money.name"
        (incrementerChange)="onMoneyChange($event)"
      ></app-incrementer>
  </span>
</div>

<mat-tab-group>
  <mat-tab label="Items">
    <table mat-table [dataSource]="equipmentData.items" class="equipment-table">
      <ng-container matColumnDef="itemName">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
    
      <ng-container matColumnDef="itemCount">
          <th mat-header-cell *matHeaderCellDef> Count </th>
          <td mat-cell *matCellDef="let element">
              {{element.count}}
          </td>
      </ng-container>
    
      <ng-container matColumnDef="itemDescription">
          <th mat-header-cell *matHeaderCellDef> Description </th>
          <td mat-cell *matCellDef="let element">
              {{element.description}}
          </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="itemDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: itemDisplayedColumns;"></tr>
    </table>
  </mat-tab>
  <mat-tab label="Weapons">
    <table mat-table [dataSource]="equipmentData.weapons" class="equipment-table">
      <ng-container matColumnDef="weaponName">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
    
      <ng-container matColumnDef="weaponCount">
          <th mat-header-cell *matHeaderCellDef> Count </th>
          <td mat-cell *matCellDef="let element">
              {{element.count}}
          </td>
      </ng-container>

      <ng-container matColumnDef="weaponType">
        <th mat-header-cell *matHeaderCellDef> Type </th>
        <td mat-cell *matCellDef="let element">
            {{element.type}}
        </td>
    </ng-container>
    
      <ng-container matColumnDef="weaponDescription">
          <th mat-header-cell *matHeaderCellDef> Description </th>
          <td mat-cell *matCellDef="let element">
              {{element.description}}
          </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="weaponDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: weaponDisplayedColumns;"></tr>
    </table>
  </mat-tab>
  <mat-tab label="Oddities">
    <table mat-table [dataSource]="equipmentData.oddities" class="equipment-table">
      <ng-container matColumnDef="oddityName">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
    
      <ng-container matColumnDef="oddityCount">
          <th mat-header-cell *matHeaderCellDef> Count </th>
          <td mat-cell *matCellDef="let element">
              {{element.count}}
          </td>
      </ng-container>
    
      <ng-container matColumnDef="oddityDescription">
          <th mat-header-cell *matHeaderCellDef> Description </th>
          <td mat-cell *matCellDef="let element">
              {{element.description}}
          </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="oddityDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: oddityDisplayedColumns;"></tr>
    </table>
  </mat-tab>
  <mat-tab label="Cyphers">
    <span>Cypher Limit: {{equipmentData.cypherCount}}</span>

    <table mat-table [dataSource]="equipmentData.cyphers" class="equipment-table">
      <ng-container matColumnDef="cypherName">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
    
      <ng-container matColumnDef="cypherTier">
          <th mat-header-cell *matHeaderCellDef> Tier </th>
          <td mat-cell *matCellDef="let element">
              {{element.tier}}
          </td>
      </ng-container>
    
      <ng-container matColumnDef="cypherDescription">
          <th mat-header-cell *matHeaderCellDef> Description </th>
          <td mat-cell *matCellDef="let element">
              {{element.description}}
          </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="cypherDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: cypherDisplayedColumns;"></tr>
    </table>
  </mat-tab>
</mat-tab-group>