.add-button {
  margin: 5px 0;
}

.delete-money {
  position: absolute;
  background-color: white;
  border-radius: 15px;
  width: 15px;
  height: 15px;
  right: -7px;
  top: -10px;
  border: 1px black solid;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.add-money {
  font-size: 56px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  cursor: pointer;
}

.money {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 10px;
}

.money-amount {
  border: 1px black solid;
  border-radius: 5px;
  padding: 0 5px 0 5px;
  margin: 0 5px 0 5px;
  text-align: center;
  position: relative;
}

.equipment-table {
  width: 100%;
}

.mat-column-itemName {
  width: 100px;
  text-align: center;
}

.mat-column-itemCount {
  width: 50px;
  text-align: center;
}

.mat-column-weaponName {
  width: 100px;
  text-align: center;
}

.mat-column-weaponCount {
  width: 50px;
  text-align: center;
}

.mat-column-weaponType {
  width: 70px;
  text-align: center;
}

.mat-column-oddityName {
  width: 100px;
  text-align: center;
}

.mat-column-oddityCount {
  width: 50px;
  text-align: center;
}

.mat-column-cypherName {
  width: 100px;
  text-align: center;
}

.mat-column-cypherTier {
  width: 50px;
  text-align: center;
}

.mat-column-menu {
  width: 20px;
  text-align: center;
}

.mat-mdc-row:nth-child(odd){
  background-color: lightblue;
}