.add-button {
  margin: 5px 0;
}

.delete-money {
  position: absolute;
  background-color: var(--bgColor);
  border-radius: 15px;
  width: 15px;
  height: 15px;
  right: -7px;
  top: -10px;
  border: 1px solid;
  border-color: var(--borderColor);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--textColor);
}

.add-money {
  font-size: 56px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  cursor: pointer;
  background-color: var(--bgColor);
  color: var(--textColor);
}

.money {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 10px;
}

.money-amount {
  border: 1px solid;
  border-color: var(--borderColor);
  border-radius: 5px;
  padding: 0 5px 0 5px;
  margin: 0 5px 0 5px;
  text-align: center;
  position: relative;
  min-height: 50px;
  color: var(--textColor);
  background-color: var(--bgColor);
}

.money-title {
  margin-left: 5px;
  color: var(--textColor);
}

.cypher-title {
  color: var(--textColor);
}

.equipment-table {
  width: 100%;
}

.mat-column-name {
  width: 150px;
}

.mat-column-itemCount {
  width: 50px;
  text-align: center;
}

.mat-column-weaponCount {
  width: 50px;
  text-align: center;
}

.mat-column-weaponType {
  width: 70px;
}

.mat-column-oddityCount {
  width: 50px;
  text-align: center;
}

.mat-column-cypherTier {
  width: 50px;
  text-align: center;
}

.mat-column-menu {
  width: 20px;
  text-align: center;
}

.mat-mdc-row, .mat-mdc-header-row {
  color: var(--tableTextColor) !important;
}

.mat-mdc-row:nth-child(odd) {
    background-color: var(--tableOddRowColor);
}

.mat-mdc-row:nth-child(even), .mat-mdc-header-row {
    background-color: var(--tableEvenRowColor);
}

.scrollable {
  overflow-y: auto;
  max-height: 500px;
}