.add-button {
  margin: 5px 0;
}

.skills-table {
    width: 100%;
}

.mat-column-inability,
.mat-column-trained,
.mat-column-specialized,
.mat-column-menu {
    width: 20px;
    text-align: center;
}
        
.mat-mdc-row:nth-child(odd){
    background-color: lightblue;
}

.scrollable {
    overflow-y: auto;
    max-height: 700px;
}