.add-button {
  margin: 5px 0;
}

.skills-table {
    width: 100%;
}

.mat-column-source {
    width: 200px;
}

.mat-column-inability,
.mat-column-trained,
.mat-column-specialized,
.mat-column-menu {
    width: 20px;
    text-align: center;
}

.mat-mdc-row, .mat-mdc-header-row {
  color: var(--tableTextColor) !important;
}

.mat-mdc-row:nth-child(odd) {
    background-color: var(--tableOddRowColor);
}

.mat-mdc-row:nth-child(even), .mat-mdc-header-row {
    background-color: var(--tableEvenRowColor);
}

.scrollable {
    overflow-y: auto;
    max-height: 675px;
}