<div class="incrementer-component">
  <input type="text" class="{{disableEdit ? 'incrementer-text' : 'incrementer-text-editable'}}" 
    [value]="currentVal" [disabled]="disableEdit"
    (focusin)="clearText()" (keydown.enter)="applyChange($event)"
    (keyup)="keyUp($event)" (blur)="loseFocus($event)" #numberInput />
  <div class="incrementers" *ngIf="showIncrementers">
    <button class="incrementer-button" (click)="incrementUp()">
      &and;
    </button>
    <button class="incrementer-button" (click)="incrementDown()">
      &or;
    </button>
  </div>
</div>
