.incrementer-component {
  display: flex;
  flex-direction: row;
  justify-content: center;

  background-color: var(--bgColor);
  color: var(--textColor);
}

.incrementers {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.incrementer-text {
  background: rgba(0, 0, 0, 0);
  width: 40px;
  border: none;
  font-size: 50px;
  text-align: center;
  padding-top: 9px;

  color: var(--textColor);
}

.incrementer-text-editable {
  background: rgba(0, 0, 0, 0);
  width: 40px;
  border: none;
  font-size: 50px;
  text-align: center;
  padding-top: 9px;
  margin-bottom: 3px;

  border-bottom: 1px solid;
  border-color: var(--borderColor);
  color: var(--textColor);
}

.incrementer-button {
  cursor: pointer;
  font-size: 10px;
  width: 25px;
  height: 20px;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;

  color: var(--textColor);
  background-color: rgb(0, 0, 0, 0);
  &:hover {
    background-color: rgb(170, 170, 170, .35);
  }
  &:active {
    background-color: rgb(170, 170, 170, .6);
  }
}