<div class="pool">
  <div class="title">
    <span class="label">{{poolName}}</span>
  </div>
  <div class="current">
    <app-incrementer 
    [numberValueTotal]="poolTotal" 
    [numberValueCurrent]="poolCurrent" 
    [fontSize]="40"
    [element]="this.element + 'Current'"
    (incrementerChange)="onStatChange($event)"
    ></app-incrementer>
  </div>
  <mat-divider></mat-divider>
  <div class="bottom">
    <div class="total">
      <app-incrementer 
      [numberValueTotal]="poolTotal" 
      [numberValueCurrent]="poolTotal" 
      [fontSize]="25"
      [disableEdit]="true"
      ></app-incrementer>
      <div class="area-title">Pool</div>
    </div>
    <mat-divider [vertical]="true"></mat-divider>
    <div class="edge">
      <app-incrementer 
      [numberValueTotal]="poolEdgeTotal" 
      [numberValueCurrent]="poolEdgeCurrent" 
      [fontSize]="25"
      [element]="this.element + 'EdgeCurrent'"
      (incrementerChange)="onStatChange($event)"
      ></app-incrementer>
      <div class="area-title">Edge</div>
    </div>
  </div>
</div>




