.custom-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.toolbar-buttons {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  justify-content: flex-start;
}

.toolbar-title {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  justify-content: flex-end;
  align-items: center;
}

.character-name {
  font-size: 20px;
  text-align: center;
  line-height: 25px;
}

.tier-advancements {
  font-size: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.advancement {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.character-name-info {
  font-size: 30px;
}

.character-name-info-class {
  font-size: 30px;
  margin-left: 10px;
}

.added-text {
  margin-left: 4px;
  margin-right: 4px;
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 10px 0 10px 0;
}

.grid mat-card {
  margin: 5px 0 5px 0;
}

.left-side {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 48%;
  min-width: 575px;
}

.right-side {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 48%;
  min-width: 575px;
}

.stats {
  width: 100%;
  min-width: 430px;
}

.list-areas {
  width: 100%;
  min-width: 200px;
}

.tier-advancements-header {
  display: flex;
  justify-content: center;
  padding: 16px 16px 0;
}