.add-character {
  margin-left: 2%;
  margin-bottom: 5px;
  margin-top: 5px;
}

.character-name-info {
  font-size: large;
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 10px 0 10px 0;
}

.grid mat-card {
  margin: 5px 0 5px 0;
}

.stats {
  width: 50%;
  min-width: 430px;
}

.skills {
  width: 20%;
  min-width: 200px;
}

.grid.character-name {
  flex-grow: 2;
  min-width: 300px;
}

.grid.character-tier {
  flex-grow: 1;
  min-width: 150px;
}