<mat-toolbar color="primary" class="custom-toolbar">
  <div class="toolbar-buttons">
    <button mat-raised-button color="accent" (click)="characterList()">Character List</button>
    <button mat-raised-button color="accent" (click)="editSheet()">Edit Character</button>
    <button mat-raised-button color="accent" (click)="shortRest()">Short Rest</button>
    <button mat-raised-button color="accent" (click)="longRest()">Long Rest</button>
    <button mat-raised-button color="accent" (click)="refreshEdgeAndEffort()">Refresh Edge and Effort</button>
    <button mat-raised-button color="accent" (click)="levelUp()" [disabled]="!canLevelUp">Level Up</button>
  </div>
  <div class="toolbar-title">
    <div>
      <button mat-icon-button aria-label="Settings Icon" (click)="updateSettings()">
        <mat-icon>settings</mat-icon>
      </button>
    </div>
    <div>Tree Cypher System</div>
  </div>
</mat-toolbar>

<div *ngIf="characterLoaded">

  <div class="grid">
    <div class="left-side">

      <mat-card class="character-name">
        <mat-card-content>
            <p>
              <span class="character-name-info">{{characterInfo.baseInfo.name}}</span> is <span class="added-text" *ngIf="characterInfo.settings.cypherSystem">a</span> 
              <span class="character-name-info">{{characterInfo.baseInfo.descriptor}}</span> <span class="added-text" *ngIf="!characterInfo.settings.cypherSystem">and</span> 
              <span class="character-name-info-class" *ngIf="characterInfo.settings.cypherSystem">{{characterInfo.baseInfo.class}}</span> <span class="added-text" *ngIf="characterInfo.settings.cypherSystem">who</span> 
              <span class="character-name-info">{{characterInfo.baseInfo.focus}}</span>
            </p>
        </mat-card-content>
      </mat-card>

    </div>

    <div class="right-side">

      <mat-card>
        <div class="tier-advancements-header">
          <mat-card-title>Tier Advancements</mat-card-title>
        </div>
        <mat-card-content class="tier-advancements">
          <div class="advancement">
            <mat-checkbox 
              [checked]="characterInfo.baseInfo.tierAdvancement.pointsToStatPools"
              (change)="tierAdvanced($event, 'pointsToStatPools')"
              color="primary"
            ></mat-checkbox>
            <div>+{{!characterInfo.settings.cypherSystem ? 5 : 4}} to Pools</div>
          </div>
          <div class="advancement">
            <mat-checkbox
              [checked]="characterInfo.baseInfo.tierAdvancement.pointToEffort"
              (change)="tierAdvanced($event, 'pointToEffort')"
              color="primary"
            ></mat-checkbox>
            <div>+1 to Effort</div>
          </div>
          <div class="advancement">
            <mat-checkbox
              [checked]="characterInfo.baseInfo.tierAdvancement.pointToEdge"
              (change)="tierAdvanced($event, 'pointToEdge')"
              color="primary"
            ></mat-checkbox>
            <div>+1 to Edge</div>
          </div>
          <div class="advancement">
            <mat-checkbox
              [checked]="characterInfo.baseInfo.tierAdvancement.trainSkill"
              (change)="tierAdvanced($event, 'trainSkill')"
              color="primary"
            ></mat-checkbox>
            <div>Train a Skill</div>
          </div>
          <div class="advancement">
            <mat-checkbox
              [checked]="characterInfo.baseInfo.tierAdvancement.other"
              (change)="tierAdvanced($event, 'other')"
              color="primary"
            ></mat-checkbox>
            <div>Other</div>
          </div>
        </mat-card-content>
      </mat-card>
      
    </div>
  </div>

  <div class="grid">
    <div class="left-side">

      <div class="stats">
        <app-stats
          [characterId]="characterInfo.id"
          [baseCharacterInfo]="characterInfo.baseInfo"
          [settings]="characterInfo.settings"
          (reloadCharacter)="loadCharacter()"
        ></app-stats>
      </div>

    </div>

    <div class="right-side">

      <div class="list-areas">
        <mat-tab-group>
          <mat-tab label="Skills">
            <app-skills [skillsData]="characterInfo.skills"></app-skills>
          </mat-tab>
          <mat-tab label="Special Abilities">
            <div>
              <app-special-abilities 
                [abilitiesData]="characterInfo.abilities"
              ></app-special-abilities>
            </div>
          </mat-tab>
          <mat-tab label="Attacks">
            <app-attacks [attacksData]="characterInfo.attacks"></app-attacks>
          </mat-tab>
          <mat-tab label="Equipment">
            <app-equipment
              [equipmentData]="characterInfo.equipment"
              [characterId]="characterInfo.id"
              (reloadCharacter)="loadCharacter()"
            ></app-equipment>
          </mat-tab>
        </mat-tab-group>
      </div>

    </div>
  </div>
</div>