.custom-toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.toolbar-buttons {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    justify-content: flex-start;
}

.toolbar-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.left-side {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 48%;
    min-width: 575px;
    margin: 5px
}

.right-side {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 48%;
    min-width: 575px;
    margin: 5px
}

.name-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.name-field {
    width: 30%;
    margin: 0 5px 0 5px;
}

.stat-info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 5px 0 5px 0;
}

.base-stat {
  border: 1px black solid;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  min-width: 140px;
}