.add-button {
  margin: 5px 0;
}

.attacks-table {
    width: 100%;
}

.mat-column-modifier,
.mat-column-damage,
.mat-column-range {
    width: 80px;
}

.mat-column-menu {
  width: 20px;
  text-align: center;
}
        
.mat-mdc-row:nth-child(odd){
    background-color: lightblue;
}

.scrollable {
  overflow-y: auto;
  max-height: 323px;
}

.edit-scrollable {
  overflow-y: auto;
  max-height: 675px;
}