.box {
    border: 1px solid;
    border-color: var(--borderColor);
    border-radius: 5px;
    width: 117px;
    height: 60px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
}

.check {
    font-size: 40px;
    padding-bottom: 5px;
    color: var(--textColor);
}

.title {
    width: 100%;
    text-align: center;
    color: var(--textColor);
}