<mat-toolbar color="primary" class="custom-toolbar">
    <div class="toolbar-buttons">
        <button mat-raised-button color="accent" (click)="addCharacterDialog()">Add Character</button>
        <button mat-raised-button color="accent" (click)="AbilityPage()">View Abilities</button>
    </div>
    <div class="toolbar-title">
        <div>
          <button mat-icon-button aria-label="Download Icon" (click)="clickImport()">
            <input type="file" id="importCharacter" (change)="importCharacter($event)" style="display:none" multiple />
            <mat-icon>file_upload</mat-icon>
          </button>
        </div>
        <div>
          <button mat-icon-button aria-label="Theme Icon" (click)="changeTheme()">
            <mat-icon>{{themeIcon}}</mat-icon>
          </button>
        </div>
        <div>Tree Cypher System</div>
    </div>
</mat-toolbar>

<div class="grid">
    <mat-card class="character" *ngFor="let character of characters">
        <mat-card-content>
            <mat-label class="sentence" *ngIf="character.isCypher">
                <b>{{character.name ? character.name : '(No Name)'}}</b> is a 
                <b>{{character.descriptor ? character.descriptor : '(No Descriptor)'}} {{character.class ? character.class : '(No Class)'}}</b> who
                <b>{{character.focus ? character.focus : '(No Focus)'}}</b>
            </mat-label>
            <mat-label class="sentence" *ngIf="!character.isCypher">
                <b>{{character.name ? character.name : '(No Name)'}}</b> is
                <b>{{character.descriptor ? character.descriptor : '(No Descriptor)'}}</b> and
                <b>{{character.focus ? character.focus : '(No Focus)'}}</b>
            </mat-label>
            <br/>
            <mat-label><i>{{character.isCypher ? 'Cypher System' : 'Tree Cypher System'}}</i></mat-label>
        </mat-card-content>
        <mat-card-actions align="end">
            <button [disabled]="character.sortOrder === 0" class="sort-order-button" (click)="lowerSortOrder(character.id, character.sortOrder)">&lt;</button>
            <button [disabled]="character.sortOrder === characters.length - 1" class="sort-order-button" (click)="higherSortOrder(character.id, character.sortOrder)">&gt;</button>
            <button mat-button (click)="openSheet(character.id)">OPEN</button>
            <button mat-button (click)="openSheetEditor(character.id)">EDIT</button>
            <button mat-button (click)="deleteCharacterDialog(character.id)">DELETE</button>
        </mat-card-actions>
    </mat-card>
</div>