.custom-toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.toolbar-buttons {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    justify-content: flex-start;
}

.toolbar-title {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    justify-content: flex-end;
    align-items: center;
}

.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.character {
    flex-grow: 1;
    min-width: 300px;
    max-width: 300px;
    margin: 5px 2% 5px 2%;
}

.custom-toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sentence {
    font-size: 15px !important;

    & b {
        font-size: 20px !important;
    }
}

.sort-order-button {
  font-size: 10px;
  width: 40px;
  height: 34px;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;

  color: var(--textColor);
  background-color: rgb(0, 0, 0, 0);
  &:not(:disabled):hover {
    cursor: pointer;
    background-color: rgb(170, 170, 170, .35);
  }
  &:not(:disabled):active {
    cursor: pointer;
    background-color: rgb(170, 170, 170, .6);
  }
  &:disabled {
    color: var(--textColorDisabled)
  }
}