<mat-toolbar color="primary" class="custom-toolbar">
    <div class="toolbar-buttons">
        <button mat-raised-button color="accent" (click)="addCharacterDialog()">Add Character</button>
        <button mat-raised-button color="accent" (click)="updateCharactersBaseValue()" *ngIf="!isUpdated">Update Characters Base Values</button>
        <button mat-raised-button color="accent" (click)="addIdsToCharacter()" *ngIf="!hasIds">Add Ids to Character</button>
    </div>
    <div class="toolbar-title">
        <div>Tree Cypher System</div>
    </div>
</mat-toolbar>

<div class="grid">
    <mat-card class="character" *ngFor="let character of characters">
        <mat-card-header>
            <mat-card-title>{{character.name ? character.name : '(No Name)'}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-label>Descriptor: {{character.descriptor ? character.descriptor : '(No Descriptor)'}}</mat-label>
            <br/>
            <mat-label>Focus: {{character.focus ? character.focus : '(No Focus)'}}</mat-label>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-button (click)="openSheet(character.id)">OPEN</button>
            <button mat-button (click)="openSheetEditor(character.id)">EDIT</button>
            <button mat-button (click)="deleteCharacterDialog(character.id)">DELETE</button>
        </mat-card-actions>
    </mat-card>
</div>