<div class="add-character">
    <button mat-raised-button color="accent" (click)="addCharacterDialog()">Add Character</button>
</div>

<div class="grid">
    <mat-card class="character" *ngFor="let character of characters">
        <mat-card-header>
            <mat-card-title>{{character.name}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-label>Descriptor: {{character.descriptor}}</mat-label>
            <br/>
            <mat-label>Focus: {{character.focus}}</mat-label>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-button (click)="openSheet(character.id)">OPEN</button>
            <button mat-button (click)="openSheetEditor(character.id)">EDIT</button>
            <button mat-button (click)="deleteCharacter(character.id)">DELETE</button>
        </mat-card-actions>
    </mat-card>
</div>