/* You can add global styles to this file, and also import other style files */
$bgColor_light: #fff;
$bgColor_dark: #333333;

$textColor_light: #000;
$textColor_dark: #eee;
$textColor_disabled_light: #ddd;
$textColor_disabled_dark: #555;

$borderColor_light: #000;
$borderColor_dark: #ccc;

$tableColor_text_light: #000;
$tableColor_text_dark: $textColor_dark;
$tableColor_odd_light: #add8e6;
$tableColor_odd_dark: #1e6a83;
$tableColor_even_light: #fff;
$tableColor_even_dark: $bgColor_dark;

$card_bgColor_light: #fff;
$card_bgColor_dark: #363636;

$focusColor_light: #673ab7;
$focusColor_dark: #c0abe5;

// mixin that enables css variables in light mode
@mixin lighten() {
  --bgColor: #{$bgColor_light};
  --textColor: #{$textColor_light};
  --textColorDisabled: #{$textColor_disabled_light};
  --borderColor: #{$borderColor_light};

  --tableTextColor: #{$tableColor_text_light};
  --tableOddRowColor: #{$tableColor_odd_light};
  --tableEvenRowColor: #{$tableColor_even_light};

  --bgColorCard: #{$card_bgColor_light};

  --focusColor: #{$focusColor_light};
}

// mixin that enables css variables in dark mode
@mixin darken() {
  --bgColor: #{$bgColor_dark};
  --textColor: #{$textColor_dark};
  --textColorDisabled: #{$textColor_disabled_dark};
  --borderColor: #{$borderColor_dark};

  --tableTextColor: #{$tableColor_text_dark};
  --tableOddRowColor: #{$tableColor_odd_dark};
  --tableEvenRowColor: #{$tableColor_even_dark};
  
  --bgColorCard: #{$card_bgColor_dark};
  
  --focusColor: #{$focusColor_dark};
}

body.dark {
  @include darken();
}
body.light {
  @include lighten();
}


@font-face {
    font-family: "Nunito";
    src: url("./fonts/nunito-variablefont_wght-webfont.woff2") format("woff2");
}

* {
    font-family: Nunito, sans-serif !important;
    font-weight: bold !important;
    /* Add !important to overwrite all elements */
}

html, body { height: 100%; }
body { 
  margin: 0;
  background-color: var(--bgColor);
}

// https://materializecss.com/icons.html
.material-icons{
    font-family: 'Material Icons' !important;
}

tr.mat-mdc-row {
    height: 41px;
}

tr .mat-mdc-icon-button.mat-mdc-button-base {
    width: 40px !important;
    height: 40px !important;
    padding: 8px;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.mat-mdc-tab .mdc-tab__text-label {
  color: var(--textColor) !important;
}

.mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
  color: var(--focusColor) !important;
}

.mat-mdc-tab .mdc-tab-indicator__content--underline {
  border-color: var(--focusColor) !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: var(--bgColorCard) !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input {
  color: var(--textColor) !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled).mdc-text-field .mdc-floating-label {
  color: var(--textColor) !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-floating-label,
.mdc-text-field--filled:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-floating-label--float-above {
  color: var(--focusColor) !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::after {
  border-bottom-color: var(--focusColor) !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input {
  caret-color: var(--focusColor) !important;
}

.mat-mdc-card {
  background-color: var(--bgColorCard) !important;
  color: var(--textColor) !important;
}

.mat-mdc-card .mat-mdc-card-subtitle {
  color: var(--textColor) !important;
}

.mat-mdc-card-actions .mdc-button {
  color: var(--textColor) !important;
}

.mat-mdc-menu-content {
  background-color: var(--bgColorCard) !important;
}

.mat-mdc-menu-content .mat-mdc-menu-item,
.mat-mdc-menu-item .mat-icon-no-color {
  color: var(--textColor) !important;
}

.mat-mdc-select-panel {
  background-color: var(--bgColorCard) !important;

  & .mat-mdc-option {
    color: var(--textColor) !important;
  }
}

.mat-mdc-select {
  color: var(--textColor) !important;
}

.mat-mdc-select-arrow {
  color: var(--textColor) !important;
}

.mat-mdc-slide-toggle .mdc-label {
  color: var(--textColor) !important;
}

.mat-mdc-paginator-container {
  background-color: var(--bgColorCard) !important;

  & .mat-mdc-paginator-page-size-label {
    color: var(--textColor) !important;
  }

  & .mat-mdc-paginator-range-actions {
    color: var(--textColor) !important;
  }

  & .mat-mdc-icon-button {
    & .mat-mdc-paginator-icon {
      fill: var(--textColor) !important;
    }

    &[disabled] .mat-mdc-paginator-icon {
      fill: var(--textColorDisabled) !important;
    }
  }
}