<div class="pool">
    <div class="title">
        <span class="label">{{poolName}}</span>
    </div>
    <div class="current">
        <app-incrementer 
        [numberValueTotal]="poolTotal" 
        [numberValueCurrent]="poolCurrent" 
        [fontSize]="40"
        [showIncrementers]="true"
        [element]="this.element + 'Current'"
        (incrementerChange)="onStatChange($event)"
        ></app-incrementer>
    </div>
    <mat-divider></mat-divider>
    <div class="bottom">
        <div class="edge">
            <app-incrementer 
            [numberValueTotal]="poolLeftEdgeTotal" 
            [numberValueCurrent]="poolLeftEdgeCurrent" 
            [fontSize]="25"
            [showIncrementers]="true"
            [element]="poolLeftEdgeName + 'EdgeCurrent'"
            (incrementerChange)="onStatChange($event)"
            ></app-incrementer>
            <div class="area-title">{{poolLeftEdgeName}} Edge</div>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <div class="total">
            <app-incrementer 
            [numberValueTotal]="poolTotal" 
            [numberValueCurrent]="poolTotal" 
            [fontSize]="25"
            [disableEdit]="true"
            ></app-incrementer>
            <div class="area-title">Pool</div>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <div class="edge">
            <app-incrementer 
            [numberValueTotal]="poolRightEdgeTotal" 
            [numberValueCurrent]="poolRightEdgeCurrent" 
            [fontSize]="25"
            [showIncrementers]="true"
            [element]="poolRightEdgeName + 'EdgeCurrent'"
            (incrementerChange)="onStatChange($event)"
            ></app-incrementer>
            <div class="area-title">{{poolRightEdgeName}} Edge</div>
        </div>
    </div>
</div>  