.pool {
    width: 45%;
    min-width: 285px;
    display: flex;
    flex-direction: column;
    border: 1px solid;
    border-color: var(--borderColor);
    border-radius: 10px;
}

.title {
    width: 100%;
    text-align: center;
    font-size: large;
    height: 15px;
    margin: 5px 0 5px 0;
}

.label {
  color: var(--textColor)
}

.area-title {
  text-transform: capitalize;
  color: var(--textColor)
}

.current {
    width: 100%;
    text-align: center;
    font-size: xx-large;
}

.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.total {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.total-value {
    font-size: 25px;
    padding-top: 10px
}

.edge {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
}